@{
    Layout = "~/Areas/WeiXin/Views/Shared/_LayoutWeiXin.cshtml";
}
<body style="background-color:#eee">
    <div class="weui_cells_title">信息录入</div>
  <form id="user-info">
    <div id="student-creat" class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">姓名</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" name="Name" type="tel" placeholder="真实姓名" required>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">身份证</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" name="IDCardNumber" type="tel" placeholder="请输入省份证号码" required>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">QQ</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" name="QQNumber" type="number" placeholder="请输入qq号" required>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">邮箱</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" name="Email" type="tel" placeholder="请输入邮箱" required>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd"><label for="name" class="weui_label">学校</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" id="school" name="School" type="tel" placeholder="请输入学校">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd"><label for="name" class="weui_label">专业</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" name="Major" id="Major" type="tel" placeholder="请输入专业" >
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd"><label for="name" class="weui_label">年级</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" name="Grade" id="grade" type="text" value="" readonly=""  placeholder="请选择年级">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">学号</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" name="SchoolNumber" type="number" placeholder="请输入学号">
            </div>
        </div>
    </div>
    <div class="weui_cells_title">其它说明</div>
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <textarea class="weui_textarea"  name="Remark" placeholder="上面选择其它的在此说明" rows="3"></textarea>
                <div class="weui_textarea_counter"><span>0</span>/200</div>
            </div>
        </div>
    </div>
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary" id="student-save">保存</a>
    </div>
    <div class="weui_btn_area">
    </div>
 </form>
   <script>
       //获取他的相关信息
       $(function () {
           $.getJSON("/api/WX_Student/GetInfo", null, function (data) {
               //debugger;
               loadData("user-info", data);
           })
       });
       $(function () {
           $("#grade").select({
               title: "选择年级",
               items: ["大一", "大二", "大三", "大四", "大五", "研一", "研二", "其他"]
           });
       });
       $(function () {
           $("#student-save").click(function () {
               debugger
               var data = $("#user-info").serialize();
               var errorMsg=validateForm();
               if (errorMsg) {
                   $.alert(errorMsg, "警告！");
                   return;
               }
               $.post("/api/WX_Student/Edit", data, function (data) {
                   $.toast('保存成功！')
               })
           })
       })
       function validateForm() {
           var errorMsg = "";
           if ($.trim($("input[name='Name']").val()) == "") {
               errorMsg += "姓名不能为空！" + "</br>";
               return errorMsg;
           }
           if ($.trim($("input[name='IDCardNumber']").val()) == "") {
               errorMsg += "身份证不能为空！" + "</br>";
               return errorMsg;
           }
           return false;
       }
       
       function setReadOnly(obj, value) {
           if (value != "" && value) {
               $(obj)[0].setAttribute("readOnly", 'true');
           }
       }
       //装载表单
       function loadData(formID,jsonStr) {
           var obj = jsonStr;
           var key, value, tagName, type, arr;
           for (x in obj) {
               key = x;
               value = obj[x];
               $("#"+formID+" [name='" + key + "'],[name='" + key + "[]']").each(function () {
                   tagName = $(this)[0].tagName;
                   type = $(this).attr('type');
                   if (tagName == 'INPUT') {
                       if (type == 'radio') {
                           $(this).attr('checked', $(this).val() == value);
                       } else if (type == 'checkbox') {
                           arr = value.split(',');
                           for (var i = 0; i < arr.length; i++) {
                               if ($(this).val() == arr[i]) {
                                   $(this).attr('checked', true);
                                   break;
                               }
                           }
                       } else {
                           $(this).val(value);
                           setReadOnly(this, value);
                       }
                   } else if (tagName == 'SELECT' || tagName == 'TEXTAREA') {
                       $(this).val(value);
                       setReadOnly(this, value);
                   }
               });
           }
       }
   </script>
</body>
