@{
    Layout = "~/Areas/WeiXin/Views/Shared/_LayoutWeiXin.cshtml";
}
<body style="background-color:#eee">
    <h2 style="text-align:center">项目报名</h2>
    <div class="weui_panel">
        <div class="weui_panel_hd"><h3>可报名的项目列表</h3></div>
        <div id="usable-project" class="weui_panel_bd"></div>
    </div>
    <div class="weui_panel">
        <div class="weui_panel_hd"><h3>我的过期项目列表</h3></div>
        <div id="unusable-project" class="weui_panel_bd"> </div>
    </div>
    <script>
        //得到可以报名的项目列表
        $(function () {
            $.get("/api/Project/GetActive", null, function (data) {
                if (data) {
                    var htmlStr = "";
                    $.each(data, function (index, value) {
                        var projectName = value["DisplayName"];
                        var remark = value["Remark"];
                        var projectID = value["ID"];
                        var Entered = value["Entered"];
                        var creatDate = value["CreateTime"].toString().slice(0, 10);
                        debugger;
                        htmlStr += "<div class='weui_media_box weui_media_text'>"
                                   + "<div class='weui_cell weui_cell_switch' style='padding-left:0;padding-top:0'>"
                                     + "<div class='weui_cell_hd weui_cell_primary'>" + projectName + "</div>"
                                     + " <div class='weui_cell_ft'><input projectID='" + projectID + "' class='weui_switch'  data-entered=" + Entered + " type='checkbox'></div>"
                                   + "</div>"
                                   + "<p class='weui_media_desc'>" + remark + "</p>"
                                   + " <ul class='weui_media_info'>"
                                     + " <li class='weui_media_info_meta'>启动时间</li>"
                                      + "<li class='weui_media_info_meta weui_media_info_meta_extra'>" + creatDate + "</li>"
                                     + " <li class='weui_media_info_meta weui_media_info_meta_extra' style='color:dodgerblue'>执行中</li>"
                                   + " </ul>"
                                + "</div>";
                    })
                    $("#usable-project").html(htmlStr);
                    //给checkebox 添加事件
                    checkboxClick();
                    checked();
                };
            });
            //得到当前用户过期的列表（参加过的）
            $.get("/api/Project/GetAttended", null, function (data) {
                if (data) {
                    var htmlStr = "";
                    $.each(data, function (index, value) {
                        var projectName = value["DisplayName"];
                        var remark = value["Remark"];
                        var creatDate = value["CreateTime"].toString().slice(0, 10);
                        debugger;
                        htmlStr += "<div class='weui_media_box weui_media_text'>"
                                   + "<div class='weui_cell weui_cell_switch' style='padding-left:0;padding-top:0'>"
                                     + "<div class='weui_cell_hd weui_cell_primary'>" + projectName + "</div>"
                                   + "</div>"
                                   + "<p class='weui_media_desc'>" + remark + "</p>"
                                   + " <ul class='weui_media_info'>"
                                     + " <li class='weui_media_info_meta'>启动时间</li>"
                                      + "<li class='weui_media_info_meta weui_media_info_meta_extra'>" + creatDate + "</li>"
                                     + " <li class='weui_media_info_meta weui_media_info_meta_extra' style='color:orangered'>执行中</li>"
                                   + " </ul>"
                                + "</div>";
                    });
                    $("#unusable-project").html(htmlStr);
                }
            })
        })
       
        //报已经报名的勾上
        function checked() {
            var arr = $("#usable-project input");
            $.each(arr, function (index, element) {
                debugger;
                var entered = $(element).attr("data-entered");
                if (entered == "false") {
                    $(element)[0].checked = false;
                } else {
                    $(element)[0].checked = true;
                }
            })
        }

        function checkboxClick() {
            $("#usable-project input").change(function () {
                debugger;
                var that = this;
                if ($(that)[0].checked) {
                    $.confirm("你确定报名吗？", function () {
                        var projectID = $(that).attr("projectID");
                        $.showLoading("请稍等...");
                        $.post("/api/StudentProject/Enter", { projectID: projectID }, function (data) {
                            $.hideLoading();
                            if (data["status"]) {
                                $.toast("报名成功！");
                            }
                            else {
                                $.toast(data.msg, "forbidden");
                                $(that)[0].checked = false;
                            }
                        })
                          
                    }, function () {
                        $(that)[0].checked = false;
                    });
                }
                //报名后不允许关闭
                else {
                    $(that)[0].checked = true;
                    $.toast("不允许关闭！", "forbidden");
                }
            })
        }
    </script>
</body>