@{
    Layout = "~/Areas/WeiXin/Views/Shared/_LayoutWeiXin.cshtml";
}
<body style="background-color:#eee">
    <h2 style="text-align:center">项目报名</h2>
    <div class="weui_panel">
        <div class="weui_panel_hd"><h3>可报名的项目列表</h3></div>
        <div id="usable-project" class="weui_panel_bd"></div>
    </div>
    <div class="weui_panel">
        <div class="weui_panel_hd"><h3>我的过期项目列表</h3></div>
        <div id="unusable-project" class="weui_panel_bd"> </div>
    </div>
    <script>
        //得到可以报名的项目列表
        $(function () {
            $.get("/api/Project/GetActive", null, function (data) {
                if (data) {
                    var htmlStr = "";
                    $.each(data, function (index, value) {
                        var projectName = value["DisplayName"];
                        var remark = value["Remark"]
                        var creatDate = value["CreateTime"].toString().slice(0, 10);
                        debugger;
                        htmlStr += "<div class='weui_media_box weui_media_text'>"
                                   + "<div class='weui_cell weui_cell_switch' style='padding-left:0;padding-top:0'>"
                                     + "<div class='weui_cell_hd weui_cell_primary'>" + projectName + "</div>"
                                     + " <div class='weui_cell_ft'><input class='weui_switch' type='checkbox'></div>"
                                   + "</div>"
                                   + "<p class='weui_media_desc'>" + remark + "</p>"
                                   + " <ul class='weui_media_info'>"
                                     + " <li class='weui_media_info_meta'>启动时间</li>"
                                      + "<li class='weui_media_info_meta weui_media_info_meta_extra'>" + creatDate + "</li>"
                                     + " <li class='weui_media_info_meta weui_media_info_meta_extra' style='color:dodgerblue'>执行中</li>"
                                   + " </ul>"
                                + "</div>";
                    })
                    $("#usable-project").html(htmlStr);
                };
            });
            //得到当前用户过期的列表（参加过的）
            $.get("/api/Project/GetAttended", null, function (data) {
                if (data) {
                    var htmlStr = "";
                    $.each(data, function (index, value) {
                        var projectName = value["DisplayName"];
                        var remark = value["Remark"]
                        var creatDate = value["CreateTime"].toString().slice(0, 10);
                        debugger;
                        htmlStr += "<div class='weui_media_box weui_media_text'>"
                                   + "<div class='weui_cell weui_cell_switch' style='padding-left:0;padding-top:0'>"
                                     + "<div class='weui_cell_hd weui_cell_primary'>" + projectName + "</div>"
                                   + "</div>"
                                   + "<p class='weui_media_desc'>" + remark + "</p>"
                                   + " <ul class='weui_media_info'>"
                                     + " <li class='weui_media_info_meta'>启动时间</li>"
                                      + "<li class='weui_media_info_meta weui_media_info_meta_extra'>" + creatDate + "</li>"
                                     + " <li class='weui_media_info_meta weui_media_info_meta_extra' style='color:orangered'>执行中</li>"
                                   + " </ul>"
                                + "</div>";
                    });
                    $("#unusable-project").html(htmlStr);
                }
            })
        })
    </script>
</body>