
@{
    Layout = "~/Areas/WeiXin/Views/Shared/_LayoutWeiXin.cshtml";
}
<body style="background-color:#eee">
    <h2 style="text-align:center">项目报名</h2>
    <div class="weui_panel">
        <div class="weui_panel_hd">项目列表</div>
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_text">
                <div class="weui_cell weui_cell_switch" style="padding-left:0;padding-top:0">
                    <div class="weui_cell_hd weui_cell_primary">项目一</div>
                    <div class="weui_cell_ft">
                        <input class="weui_switch" type="checkbox">
                    </div>
                </div>
                <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                <ul class="weui_media_info">
                    <li class="weui_media_info_meta">启动时间</li>
                    <li class="weui_media_info_meta">2016-10-1</li>
                    <li class="weui_media_info_meta weui_media_info_meta_extra"style="color:dodgerblue" >执行中</li>
                </ul>
            </div>

            <div class="weui_media_box weui_media_text" >
                <div class="weui_cell weui_cell_switch" style="padding-left:0;padding-top:0">
                    <div class="weui_cell_hd weui_cell_primary">项目二</div>
                    <div class="weui_cell_ft">
                        <input class="weui_switch" type="checkbox" >
                    </div>
                </div>
                <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                <ul class="weui_media_info">
                    <li class="weui_media_info_meta">启动时间</li>
                    <li class="weui_media_info_meta">2016-8-1</li>
                    <li class="weui_media_info_meta weui_media_info_meta_extra">已经结束</li>
                </ul>
            </div>

            <div class="weui_media_box weui_media_text">
                <div class="weui_cell weui_cell_switch" style="padding-left:0;padding-top:0">
                    <div class="weui_cell_hd weui_cell_primary">项目三</div>
                    <div class="weui_cell_ft">
                        <input class="weui_switch" type="checkbox">
                    </div>
                </div>
                <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                <ul class="weui_media_info">
                    <li class="weui_media_info_meta">启动时间</li>
                    <li class="weui_media_info_meta weui_media_info_meta_extra">2016-7-1</li>
                    <li class="weui_media_info_meta weui_media_info_meta_extra" style="color:orangered">已经结束</li>
                </ul>
            </div>
        </div>
    </div>
</body>