@{
    Layout = "~/Areas/WeiXin/Views/Shared/_LayoutWeiXin.cshtml";
}
<body ontouchstart >
    <p style="margin-bottom:0px;text-align:center;background-color:#eee">功能一</p>
    <div class="weui_grids">
        <a href="/WeiXin/StudentSign/Index" class="weui_grid js_grid">
            <div class="weui_grid_icon">
                <img src="~/Content/images/icon_nav_toast.png" alt="">
            </div>
            <p class="weui_grid_label">
                勾班
            </p>
        </a>
        <a href="/WeiXin/Student/Edit/" class="weui_grid js_grid">
            <div class="weui_grid_icon">
                <img src="~/Content/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui_grid_label">
                个人信息录入
            </p>
        </a>
        <a href="/WeiXin/Student/Enter/" class="weui_grid js_grid">
            <div class="weui_grid_icon">
                <img src="~/Content/images/icon_nav_button.png" alt="">
            </div>
            <p class="weui_grid_label">
                兼职报名
            </p>
        </a>
    
        <a href="/WeiXin/Account/ModifyPassword/" class="weui_grid js_grid">
            <div class="weui_grid_icon">
                <img src="~/Content/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui_grid_label">
                密码修改
            </p>
        </a>
       
        <a href="dialog.html" class="weui_grid js_grid">
            <div class="weui_grid_icon">
                <img src="~/Content/images/icon_nav_dialog.png" alt="">
            </div>
            <p class="weui_grid_label">
                请假
            </p>
        </a>
        <a href="progress.html" class="weui_grid js_grid">
            <div class="weui_grid_icon">
                <img src="~/Content/images/icon_nav_progress.png" alt="">
            </div>
            <p class="weui_grid_label">
                调班
            </p>
        </a>
        <a href="msg.html" class="weui_grid js_grid">
            <div class="weui_grid_icon">
                <img src="~/Content/images/icon_nav_msg.png" alt="">
            </div>
            <p class="weui_grid_label">
                补班/加班
            </p>
        </a>
        <a href="city-picker.html" class="weui_grid js_grid">
            <div class="weui_grid_icon">
                <img src="~/Content/images/icon_nav_city.png" alt="">
            </div>
            <p class="weui_grid_label">
                访问个数录入
            </p>
        </a>
        <a href="icons.html" class="weui_grid js_grid">
            <div class="weui_grid_icon">
                <img src="~/Content/images/icon_nav_icons.png" alt="">
            </div>
            <p class="weui_grid_label">
                问题反馈
            </p>
        </a>
        <a href="panel.html" class="weui_grid js_grid">
            <div class="weui_grid_icon">
                <img src="~/Content/images/icon_nav_panel.png" alt="">
            </div>
            <p class="weui_grid_label">
                个人信息
            </p>
        </a>
        <a href="tabbar.html" class="weui_grid js_grid">
            <div class="weui_grid_icon">
                <img src="~/Content/images/icon_nav_tab.png" alt="">
            </div>
            <p class="weui_grid_label">
                帮助
            </p>
        </a>
        <a href="searchbar.html" class="weui_grid js_grid">
            <div class="weui_grid_icon">
                <img src="~/Content/images/icon_nav_search_bar.png" alt="">
            </div>
            <p class="weui_grid_label">
                关于
            </p>
        </a>
    </div>

    <p style="margin-bottom:0px;text-align:center;background-color:#eee">功能二</p>
    <div class="weui_grids">
        <a href="article.html" class="weui_grid js_grid">
            <div class="weui_grid_icon">
                <img src="~/Content/images/icon_nav_article.png" alt="">
            </div>
            <p class="weui_grid_label">
                我的任务
            </p>
        </a>
        <a href="datetime-picker.html" class="weui_grid js_grid">
            <div class="weui_grid_icon">
                <img src="~/Content/images/icon_nav_datetime.png" alt="">
            </div>
            <p class="weui_grid_label">
                督导每日数据
            </p>
        </a>
        <a href="photo-browser.html" class="weui_grid js_grid open-popup">
            <div class="weui_grid_icon">
                <i class="weui_icon_info_circle"></i>
            </div>
            <p class="weui_grid_label">
                访问员执行详情
            </p>
        </a>
        <a href="select.html" class="weui_grid js_grid">
            <div class="weui_grid_icon">
                <img src="~/Content/images/icon_nav_select.png" alt="">
            </div>
            <p class="weui_grid_label">
                勾班详情
            </p>
        </a>
    </div>

    <p style="margin-bottom:0px;text-align:center;background-color:#eee">功能三</p>
    <div class="weui_grids">
        <a href="action-sheet.html" class="weui_grid js_grid">
            <div class="weui_grid_icon">
                <img src="~/Content/images/icon_nav_actionSheet.png" alt="">
            </div>
            <p class="weui_grid_label">
                项目执行详情
            </p>
        </a>
        <a href="popup.html" class="weui_grid js_grid">
            <div class="weui_grid_icon">
                <img src="~/Content/images/icon_nav_panel.png" alt="">
            </div>
            <p class="weui_grid_label">
                督导执行详情
            </p>
        </a>
        <a href="select.html" class="weui_grid js_grid">
            <div class="weui_grid_icon">
                <img src="~/Content/images/icon_nav_select.png" alt="">
            </div>
            <p class="weui_grid_label">
                全勾班详情
            </p>
        </a>
    </div>
    <style>
        .weui_icon_info_circle:before {
            font-size: 28px;
            color: #09BB07;
        }
    </style>
    <script>
        $(function () {
            FastClick.attach(document.body);
        });
    </script>
</body>