@{
    Layout = "~/Areas/WeiXin/Views/Shared/_LayoutWeiXin.cshtml";
}
<style>
  
</style>
<body ontouchstart>
    <!--头部导航 开始-->
    <div class="weui_msg">
        <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
    </div>
    @*<div class="weui_cells_title">
            <h1 style="text-align:center">登录/注册</h1>
        </div>*@
    <!--头部导航 结束-->
    <!--主体部分 开始-->
    <div class="content">
        <div class="content-block">
            <div class="login_logo"> @*<img src="/Public/sstm/imagesm/member/login_logo.png">*@</div>

            <form method="post" data-url="/login" id="formlogin">
                <div class="weui_cells weui_cells_form">
                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <label class="weui_label">手机</label>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type="text" placeholder="请输入手机号" name="mobilePhone" id="user" value="">
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <label class="weui_label">密码</label>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" placeholder="请输入密码" type="password" name="password" id="password" value="">
                        </div>
                    </div>
                    @*<div class="weui_cell  weui_cell_switch">
                        <div class="weui_cell_hd">
                            <label class="weui_label">记住我</label>
                        </div>
                        <div class="weui_cell_ft">
                            <input class="weui_switch" type="checkbox">
                        </div>

                    </div>*@
                </div>
            </form>

            <div class="weui_btn_area">
                <a class="weui_btn weui_btn_primary" id="btnLogin">登录</a>
                <a href="/WeiXin/Account/Register" class="weui_btn weui_btn_default">注册</a>
            </div>
            <div class="weui_msg">
                <div class="weui_text_area">
                    <a href="#">忘记密码？</a>
                </div>
            </div>

            <script>
                $('#btnLogin').click(function () {
                    var data = $("#formlogin").serialize();
                    //debugger;
                    $.post("/api/WX_Account/Login", data, function (msg) {
                        //var msg = $.parseJSON(msg);
                        if (msg.status == 1) {
                            $.showLoading("请稍等...");
                            setTimeout(function () {
                                location.href = msg.url;
                                $.hideLoading();
                            }, 200);
                        } else {
                            $.toast(msg.info, "forbidden");
                        }
                    }, 'json');
                })
            </script>
            <script>
                $(function () {
                    var session = getCookie('session');
                    debugger;
                    //从一个cookie中获取相应的key,value
                    var pd = getCookieValue(session, "password");
                    var pn = getCookieValue(session, "mobilePhone");
                    //设置 用户名，密码
                    $("#user").val(pn);
                    $("#password").val(pd);
                });
                function getCookie(name) {
                    var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
                    if (arr = document.cookie.match(reg))
                        return unescape(arr[2]);
                    else
                        return null;
                }
                function getCookieValue(cookie,key) {
                    var arr = cookie.split("&");
                    var value = "";
                    $.each(arr, function (i, val) {
                        var keyValue = val.split("=");
                        if (keyValue[0] == key) {
                            value = keyValue[1];
                        }
                    })
                    return value;
                }
            </script>
        </div>
    </div>

    <div style="display: none;">
        <!-- 用于加载统计代码等隐藏元素 -->
    </div>
</body>
