
@{
    Layout = "~/Areas/WeiXin/Views/Shared/_LayoutWeiXin.cshtml";
}
<body ontouchstart style="background-color:#eee">
    <!--头部导航 开始-->
    <div class="weui_msg">
        <div class="weui_text_area">
            <h2>修改密码</h2>
        </div>
    </div>
    <!--头部导航 结束-->
    <!--主体部分 开始-->
    <div class="content">
        <div class="content-block">
            <form id="formyz" action="" class="am-form" data-am-validator data-url="/register">
                <input type="hidden" name="registeredtype" id="registeredtype" value="mobile" />
                <div class="weui_cells weui_cells_form">
                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <label class="weui_label">当前密码</label>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type="text" name="oldPassword" minlength="4" id="oldpsd" placeholder="当前密码" />
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <label class="weui_label">新密码</label>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type="password" name="newpassword" value="" placeholder="请输入至少6位密码" id="inputPassword" check-length="6,30">
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <label class="weui_label">确认密码</label>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type="password" name="password" value="" placeholder="再次输入密码" id="comfromPassword" check-length="6,30">
                        </div>
                    </div>
                <div class="weui_btn_area">
                    <a class="weui_btn weui_btn_primary" id="confirm">提交保存</a>
                </div>
             </div>
            </form>
        </div>
        <script>
            $(function () {
                $("#formyz #confirm").click(function () {
                    if (!validate()) {
                        return;
                    }
                    var data = $("#formyz").serialize();
                    $.post("/api/WX_Account/ModifyPassword", data, function (reslut) {
                        if (reslut["status"] == 1) {
                            $.toast("修改成功！");
                            location.href = "/WeiXin/Home/Index";
                        }else{
                            $.toast(reslut.msg,"forbidden");
                        }
                    })
                })
            })
            function validate() {
              var newpd= $("#inputPassword").val();
              var newpdCom = $("#comfromPassword").val();
              if (newpd != newpdCom && newpd.length<5) {
                  $.toast("两次密码不一致或者密码太短！", "forbidden");
                  return false;
              }
              else {
                  return true;
              }
            }
        </script>
    </div>


    <!--主体部分 结束-->
    <!--底部固定导航 开始-->
    <!--底部固定导航 结束-->

    <div style="display: none;">
        <!-- 用于加载统计代码等隐藏元素 -->
    </div>
</body>
