@{
    Layout = "~/Areas/WeiXin/Views/Shared/_LayoutWeiXin.cshtml";
}
<body ontouchstart>
    <!--头部导航 开始-->
    <div class="weui_msg">
        <div class="weui_text_area">
            <h1>注册</h1>
        </div>
    </div>
    <!--头部导航 结束-->
    <!--主体部分 开始-->
    <div class="content">
        <div class="content-block">
            <div class="login_logo"> @*<img src="/Public/sstm/imagesm/member/login_logo.png">*@</div>
            <form id="formyz" action="" class="am-form" data-am-validator data-url="/register">
                <input type="hidden" name="registeredtype" id="registeredtype" value="mobile" />
                <div class="weui_cells weui_cells_form">

                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <label class="weui_label">手机</label>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type="text" name="mobilePhone" minlength="4" id="mobnumber" placeholder="请输入手机号"
                                   required check-type="mobile" onblur="validatePhone(this)"
                                   errormsg="请填写手机号" value="" />
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <label class="weui_label">密码</label>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type="password" name="password" value="" placeholder="请输入至少6位密码" id="inputPassword" check-length="5,18">
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <label class="weui_label">确认密码</label>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type=password" name="confirmPassword" value="" placeholder="再次输入密码" id="comfromPassword" check-length="5,18">
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <label class="weui_label">姓名</label>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input id="userName" class="weui_input" type="text" name="userName" onblur="validateUserName(this)" value="" placeholder="建议真实名字">
                            <input id="name" type="hidden" name="role" value="1" placeholder="角色">
                        </div>
                    </div>
                </div>
                <div class="weui_btn_area">
                    <a class="weui_btn weui_btn_primary" id="confirm">提交注册</a>
                </div>
            </form>

            <div class="weui_msg">
                <div class="weui_text_area">
                    <a href="/WeiXin/Account/login">登录已有账号</a>
                </div>
            </div>

        </div>
        <script>
            function  validatePhone(obj) {
                var value = $(obj).val();
                if (value == '') {
                    $.toast('请输入手机号码',"forbidden")
                } else {
                    $.showLoading("请稍等,正在验证手机是否可用！");
                    $.post("/api/WX_Account/ValidatePhone", { mobilePhone: value }, function (data) {
                        debugger;
                        if (data.status) {
                            $.hideLoading();
                            $.toast("手机号错误或者已经被占用！", "forbidden");
                        }
                        $.hideLoading();
                    });
                }
            }
            function validateUserName(obj) {
                var value = $(obj).val();
                if (value == '') {
                    $.toast('请输入姓名', "forbidden")
                } else {
                    $.showLoading("请稍等,正在验证名字是否可以用！");
                    $.post("/api/WX_Account/ValidateUserName", { userName: value }, function (data) {
                        if (data.status) {
                            $.hideLoading();
                            $.toast("用户名已经被占用！", "forbidden");
                        }
                        $.hideLoading();
                    });
                }
            }
        </script>
        <script>
            $('#confirm').click(function () {
                var data = $("#formyz").serialize();
                var valmsg=validation();
                if (valmsg) {
                    $.alert(valmsg, "警告！");
                    return;
                }
                $.post("/api/WX_Account/Register", data, function (msg) {
                    if (msg.status == 1) {
                        $.toast("注册成功！");
                        setTimeout(function () {
                            location.href = msg.url;
                        }, 1000);
                    } else {
                        $.toast(msg.info);
                    }
                }, 'json');
            });
            function validation() {
                var errorMsg = "";
                alert($("#mobnumber").val());
                if ($.trim($("#mobnumber").val()) == "") {
                    errorMsg += "电话号码不能为空" + "</br>";
                    return errorMsg;
                }
                if ($.trim($("#inputPassword").val()) == "") {
                    errorMsg += "密码不能为空" + "</br>";
                    return errorMsg;
                }
                if ($.trim($("#userName").val()) == "") {
                    errorMsg += "用户名不能为空" + "</br>";
                    return errorMsg;
                }
                if ($("#inputPassword").val() != $("#comfromPassword").val()) {
                    errorMsg += "前后密码不一致" + "</br>";
                    return errorMsg;
                }
                return false;
            }
        </script>

        <script>
            // 验证密码长度
            $(function () {
                $('#inputPassword').after('<div class=" show_info" ></div>');
                $('#inputPassword').blur(function () {
                    var obj = $('#inputPassword');
                    var str = obj.val().replace(/\s+/g, "");
                    var html = '';
                    if (str.length == 0) {
                        $.toast("请输入密码", "forbidden");
                    } else {
                        if (typeof (obj.attr('check-length')) != 'undefined') {
                            var strs = new Array(); //定义一数组
                            strs = obj.attr('check-length').split(","); //字符分割
                            if (strs[1]) {
                                if (strs[1] < str.length || str.length < strs[0]) {
                                    $.toast("密码长度最低5位，最高18位", "forbidden");
                                }
                            }
                            else {
                                if (strs[0] < str.length) {
                                    $.toast("密码长度最低5位", "forbidden");
                                }
                            }
                        }
                    }
                })
            })
        </script>
    </div>


    <!--主体部分 结束-->
    <!--底部固定导航 开始-->
    <!--底部固定导航 结束-->

    <div style="display: none;">
        <!-- 用于加载统计代码等隐藏元素 -->
    </div>
</body>
