
@{
    Layout = null;
}
<body>   
    <div class="easyui-layout" style="width:100%;height:100%;">
        <div data-options="region:'west'" style="width:180px">
            <ul id="project-tree"></ul>
            <!--树的菜单--->
            <div id="project-tree-menu" class="easyui-menu" style="width:120px;">
                <div onclick="newProject()" data-options="iconCls:'icon-remove'">新建</div>
                <div onclick="editProject()" data-options="iconCls:'icon-add'">编辑</div>
                <div onclick="removeProject()" data-options="iconCls:'icon-remove'">移除</div>
            </div>
            <!--end树的菜单--->

            <!--project From-->
            <div id="dlg-project" class="easyui-dialog" style="width:400px"
                 closed="true" buttons="#dlg-buttons-project">
                <form id="fm-project" method="post" novalidate style="margin:0;padding:20px 50px">
                    <div style="margin-bottom:20px;font-size:14px;border-bottom:1px solid #ccc">项目信息</div>
                    <div style="margin-bottom:10px">
                        <input name="ID" class="easyui-textbox" data-options="buttonText:'ID',buttonAlign:'left',editable:false" style="width:200px">
                    </div>
                    <div style="margin-bottom:10px">
                        <input name="DisplayName" class="easyui-textbox" data-options="buttonText:'名称',buttonAlign:'left'" style="width:200px">
                    </div>
                    <div style="margin-bottom:10px">
                        <select class="easyui-combobox" name="IsActive" data-options="buttonText:'是否激活',buttonAlign:'left'" style="width:200px;">
                            <option value="true">是</option>
                            <option value="false">否</option>
                        </select>
                    </div>
                    <div style="margin-bottom:10px">
                        <select class="easyui-combobox" name="IsDisplay" data-options="buttonText:'是否显示',buttonAlign:'left'" style="width:200px;">
                            <option value="true">是</option>
                            <option value="false">否</option>
                        </select>
                    </div>
                    <div style="margin-bottom:10px">
                        <input name="Remark" class="easyui-textbox" data-options="buttonText:'说明',buttonAlign:'left'" style="width:200px">
                    </div>
                </form>
            </div>
            <!--end project From-->
            <!--project from tool-->
            <div id="dlg-buttons-project">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveProject()" style="width:90px">保存</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript: $('#dlg-project').dialog('close')" style="width:90px">取消</a>
            </div>
            <!--end project from tool-->
        </div>
        <div data-options="region:'center'">
            <table id="projectstudent-table" class="easyui-datagrid" data-options="toolbar: '#table-projectstudengt'"></table>
            <!---弹出框-->
            <div id="dlg-projectstudent" class="easyui-dialog" style="width:400px"
                 closed="true" buttons="#dlg-buttons-projectstudent">
                <form id="fm-projectstudent" method="post" novalidate style="margin:0;padding:20px 50px">
                    <div style="margin-bottom:20px;font-size:14px;border-bottom:1px solid #ccc">用户信息</div>
                    <div style="margin-bottom:10px">
                        <input name="ID" class="easyui-textbox" data-options="buttonText:'ID',editable:false,fabuttonAlign:'left'" style="width:200px">
                    </div>
                    <div style="margin-bottom:10px">
                        <select class="easyui-combobox" id="stedentID" name="StudentID" data-options="buttonText:'性别',buttonAlign:'left'" style="width:200px;">
                        </select>
                    </div>
                    <div style="margin-bottom:10px">
                        <select class="easyui-combobox" id="projectID" name="ProjectID" data-options="buttonText:'所报项目',buttonAlign:'left'" style="width:200px;"></select>
                    </div>
                    <div style="margin-bottom:10px">
                        <input name="GreateDate" class="easyui-datebox" data-options="buttonText:'创建日期',buttonAlign:'left'" style="width:200px">
                    </div>
                </form>
            </div>
            <div id="dlg-buttons-projectstudent">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveStudentProject()" style="width:90px">保存</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript: $('#dlg-projectstudent').dialog('close')" style="width:90px">取消</a>
            </div>
            <!---end弹出框-->
            <!---table的tools-->
            <div id="table-projectstudengt">
                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true,text:'新建'" onclick="newStudentProject()"></a>
                @*<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true,text:'编辑'" onclick="editStudentProject()"></a>*@
                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true,text:'删除'" onclick="deleteStudentProject()"></a>
                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-redo',plain:true,text:'导入'"></a>
                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-blank',plain:true,text:'导出'"></a>
                <div class="pull-right" style="margin-right:40px">
                    <input id="name" class="easyui-textbox" data-options="buttonText:'名字',buttonAlign:'left'" style="width:120px">
                    <input id="phoneNumber" class="easyui-textbox" data-options="buttonText:'手机号',buttonAlign:'left'" style="width:120px;margin-right:2px">
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true,text:'搜索'" onclick="seacherProject()"></a>
                </div>
            </div>
            <!---End-table的tools-->
        </div>
    </div>
    @*<div class="container-fluid">
        <div class="row-fluid">

            <!--项目树--->
            <div class="col-sm-2" style="border:dashed 1px red;height:100%">
                <ul id="project-tree" class="easyui-tree"></ul>
            </div>
            <!--项目树结束--->

            <!--报名列表--->
            <div class="col-sm-10" style="border:dashed 1px red;height:100%">
                <table id="project-table"></table>
            </div>
            <!--报名列表结束--->
        </div>
    </div>*@
    <script>
        //project
        var urlProject = 'api/Project/Add';
        var isUpdataProject = true;
        var isAppendProject = true;
        $('#project-tree').tree({
            url: "api/Project/GetList",
            onDblClick: function (node) {
                datagridShow(node.id)
            },
            onContextMenu: function (e, node) {
                e.preventDefault();
                debugger;
                $('#project-tree').tree('select', node.target);
                $('#project-tree-menu').menu('show', {
                    left: e.pageX + 10,
                    top: e.pageY + 10
                });
            }
        });
        //新建
        function editProject() {
            debugger;
            isUpdataProject = true;
            var node = $('#project-tree').tree('getSelected');
            if (node) {
                var id = node.id;
                urlProject = 'api/Project/Add?id=' + id;
                $.get('api/Project/GetProjectInfo', { ID: id }, function (data) {
                    debugger;
                    if (data) {
                        $('#dlg-project').dialog('open').dialog('center').dialog('setTitle', '编辑菜单');
                        $('#fm-project').form('load', data);
                    }
                }, 'json')
            }
        }
        //移除
        function removeProject() {
            debugger;
            var node = $('#project-tree').tree('getSelected');
            if (node) {
                $.messager.confirm('Confirm', '你确定要删除次菜单吗？', function (r) {
                    if (r) {
                        var id = node.id;
                        $.post('api/Project/Delete', { ID: id }, function (data) {
                            if (data.success) {
                                $('#project-tree').tree('reload');
                            }
                        }, 'json');
                    }
                })

            }
        }
        //对话框 新建同级
        function newProject() {
            $("#dlg-project").dialog('open').dialog('center').dialog('setTitle', '新建菜单');
            isAppendProject = true;
            isUpdataProject = false;
            $('#fm-project').form('clear');
            urlProject = 'api/Project/Add';
        }
        function saveProject() {
            $('#fm-project').form('submit', {
                url: urlProject,
                onSubmit: function (param) {
                    //是编辑，还是新建
                    if (isUpdataProject) {

                    }
                    else {
                        param.TreeParentID = -2;
                        var node = $('#project-tree').tree('getSelected');
                        if (node) {
                            //添加同级级点，或者添加子节点
                            if (isAppendProject) {
                                var parentNode = $('#project-tree').tree('getParent', node.target);
                                if (parentNode) {
                                    param.TreeParentID = parentNode.id;
                                }
                            } else {
                                param.TreeParentID = node.id;
                            }
                        }
                    }

                    return $(this).form('validate');
                },
                success: function (result) {
                    $('#dlg-project').dialog('close');
                    $('#project-tree').tree('reload');
                }
            });
        }

        //projectStudent
        function datagridShow(id) {
            $(function () {
                $("#projectstudent-table").datagrid({
                    url: "api/StudentProject/GetList",
                    toolbar: '#table-projectstudengt',
                    striped: true,
                    collapsible: true,
                    width: "100%",
                    height: "100%",
                    fitColumn: false,
                    showFooter: true,
                    queryParams: {
                        projectID: id,
                    },
                    columns: [[
                        { field: 'ID', title: 'ID', checkbox: true },
                         //
                        { field: 'Name', title: '名字', width: 80 },
                        { field: 'LoginName', title: '登录名', width: 100 },
                        { field: 'MobileTelphoneNumber', title: '手机号码', width: 100 },
                        { field: 'QQNumber', title: 'QQ号', width: 100 },
                        { field: 'Email', title: '邮箱', width: 100 },
                        { field: 'Grade', title: '年级', width: 40 },
                         //学生表的信息
                        { field: 'StudentID', title: '学生ID', width: 80 },
                        { field: 'ProjectID', title: '项目ID', width: 80 },
                        { field: 'EnteredDate', title: '项目报名日期', width: 100 },
                         //
                        { field: 'IsSupervisor', title: '是否督导', width: 40 },
                        { field: 'SupervisorProjectID', title: '所属督导', width: 100 },
                        { field: 'SuccessfulTotalNumber', title: '成功的数量', width: 100 },
                    ]],
                    pagination: true,

                });
            })
        }
     

        var studentUrl = null;
        $("#stedentID").combobox({
            url: 'api/Student/GetStudent',
            valueField: 'ID',
            textField: 'Name',
            filter: function(q, row){
                   var opts = $(this).combobox('options');
                   return row[opts.textField].indexOf(q) > -1;
              }
        });
        debugger;
        $("#projectID").combobox({
            url: 'api/Project/GetAll',
            valueField: 'ID',
            textField: 'DisplayName',
            filter: function (q, row) {
                var opts = $(this).combobox('options');
                return row[opts.textField].indexOf(q) > -1;
            }
        });

        function newStudentProject() {
            $("#dlg-projectstudent").dialog('open').dialog('center').dialog('setTitle', '新建兼职人员');
            $('#fm-projectstudent').form('clear');
            studentUrl = 'api/StudentProject/Add';
        }
        function saveStudentProject() {
            $('#fm-projectstudent').form('submit', {
                url: studentUrl,
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                    $('#dlg-projectstudent').dialog('close');        // close the dialog
                    $('#projectstudent-table').datagrid('reload');    // reload the project data
                }
            });
        }
        //删除
        function deleteStudentProject() {
            debugger;
            var rows = $('#projectstudent-table').datagrid('getSelections');
            var ids = [];
            if (rows) {
                $.each(rows, function (i, item) {
                    ids.push(item["ID"]);
                })
            }
            if (ids.length > 0) {
                $.messager.confirm('Confirm', '你确定要删除勾选的用户吗？', function (r) {
                    if (r) {
                        $.post('api/StudentProject/Delete', { ids: ids }, function (result) {
                            $('#projectstudent-table').datagrid('reload');
                            if (result.success) {
                                $('#projectstudent-table').datagrid('reload');    // reload the project data
                            } else {
                                $.messager.show({    // show error message
                                    title: 'Error',
                                    msg: result.errorMsg
                                });
                            }
                        }, 'json');
                    }
                });
            }
        }
        //更新
        function editStudentProject() {
            var row = $('#projectstudent-table').datagrid('getSelected');
            if (row) {
                $('#dlg-projectstudent').dialog('open').dialog('center').dialog('setTitle', '编辑用户');
                $('#fm-projectstudent').form('load', row);
                studentUrl = 'api/StudentProject/Add?id=' + row.ID;
            }
        }

        function seacherStudentProject() {
            var name = $("#name").val().trim();
            var phoneNumber = $("#phoneNumber").val().trim();
            $('#projectstudent-table').datagrid('load', {
                name: name,
                phoneNumber: phoneNumber
            });
        }

    </script>
</body>