@{
    Layout = "~/Areas/WeiXin/Views/Shared/_LayoutWeiXin.cshtml";
}
<body style="background-color:#eee">
    <h2 style="text-align:center">请假</h2>
    <div class="weui_panel">
        <div class="weui_opr_area">
            <p class="weui_btn_area">
                <a href="javascript:;" class="weui_btn weui_btn_primary">创建新的假条</a>
            </p>
        </div>
    </div>

    <div class="weui_panel">
        <div class="weui_panel_hd"><h3>我的请假列表</h3></div>

        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_small_appmsg">
                <div class="weui_cells weui_cells_access">
                    <a class="weui_cell" href="javascript:;">
                        <div class="weui_cell_hd"><img src=""></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <p> 请假 <small>2016.12.13</small> </p>
                        </div>
                        <span class="weui_cell_ft"></span>
                    </a>
                </div>
                <div class="weui_cells weui_cells_access">
                    <a class="weui_cell" href="javascript:;">
                        <div class="weui_cell_hd"><img src=""></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>请假-2016.12.13</p>
                        </div>
                        <span class="weui_cell_ft"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="weui_media_box weui_media_small_appmsg">
            <div class="weui_cells weui_cells_access">
                <a class="weui_cell" href="javascript:;">
                    <div class="weui_cell_hd"><img src=""></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>请假-2016.12.14</p>
                    </div>
                    <span class="weui_cell_ft"></span>
                </a>
            </div>
            <div class="weui_cells weui_cells_access">
                <a class="weui_cell" href="javascript:;">
                    <div class="weui_cell_hd"><img src=""></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>请假-2016.12.15</p>
                    </div>
                    <span class="weui_cell_ft"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="weui_panel weui_panel_access">
        <a href="javascript:void(0);" class="weui_panel_ft">查看更多</a>
    </div>
</body>